.footer {
    background-color: #414141;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

.footer-par {
    padding: 0 2rem;
}

.contact {
    font-size: 1.2rem;
    padding-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.contact:hover {
    padding-bottom: 9px;
}